@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Click Button below to view your students</h1>
    <button class="btn-outline-primary"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Students">View Students</a></button>
</div>
